@charset "UTF-8";

/* ========================================
    注文履歴ページのスタイル
   ======================================== */
.order-history-table-th {
  text-align: center;
}
.order-history-item-icon img {
  margin: auto;
  display: block;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  padding: 0 0 15px 0;
}
.order-history-item-name {
  text-align: center;
  font-size: 15px;
}
